html, body {
  overflow: hidden; /* Hide scrollbars */
}
canvas {
    width: 100vw;
    height: 100vh;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.container {
  position: relative;
  overflow-y: scroll;
  height: 100vh;
  scroll-snap-type: y mandatory;

}

/* Hide scrollbar for Chrome, Safari and Opera */
.container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.content {
  height: 1000vh; /* the total height of your content */
}


/* snap points */
.content > section {
  height: 100vh; /* the height of each section */
  scroll-snap-align: start;
}
